@charset "utf-8"

$navbar-item-img-max-height: 50px
@import "../../node_modules/bulma/bulma.sass"

.navbar-burger
    height: 66px
    width: 66px

.slide-caption
    z-index: 1
    position: absolute
    top: 50%
    left: 50%