version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          name: Yarn キャッシュを復元
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run: ls
      - run: pwd
      - run:
          name: Yarn 依存関係をインストール
          command: yarn install --frozen-lockfile
      - run:
          name: ビルド
          command: yarn run build
      - persist_to_workspace:
          root: dist
          paths: .
      - save_cache:
          name: Yarn キャッシュを保存
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
  deploy:
    machine:
      enabled: true
      image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: dist
      - add_ssh_keys:
          fingerprints:
            - "b1:ff:f4:96:48:2c:43:59:ec:4b:da:55:e5:ab:3d:8d"
      - run:
          name: Deploy Over SSH
          command: >-
            scp -r -P 2222 dist/reform_test/* $SSH_USER@$SSH_HOST:~/web/reform_test
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master
