version: 2
jobs:
  deploy:
    machine:
      enabled: true
      image: circleci/classic:latest
    steps:
      - add_ssh_keys:
          fingerprints:
            - "b1:ff:f4:96:48:2c:43:59:ec:4b:da:55:e5:ab:3d:8d"
      - run:
          name: Deploy Over SSH
          command: >-
            ssh $SSH_USER@$SSH_HOST -p $SSH_PORT "cd ~/web/reform_test; git pull; chmod +x /web/reform_test/deploy.sh; ~/web/reform_test/deploy.sh"
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
