version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - restore_cache:
          name: Yarn キャッシュを復元
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run: ls
      - run: pwd
      - run:
          name: Yarn 依存関係をインストール
          command: yarn install --frozen-lockfile
      - run:
          name: ビルド
          command: yarn run build
      - persist_to_workspace:
          root: dist
          paths: .
      - save_cache:
          name: Yarn キャッシュを保存
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
  deploy:
    machine:
      enabled: true
      image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: dist
      - run: ls dist
      - add_ssh_keys:
          fingerprints:
            - "b1:ff:f4:96:48:2c:43:59:ec:4b:da:55:e5:ab:3d:8d"
      - run:
          name: Deploy Over SSH
          command: >-
            ssh $SSH_USER@$SSH_HOST -p $SSH_PORT "cd ~/web/reform_test; git pull; chmod +x ~/web/reform_test/deploy.sh; ~/web/reform_test/deploy.sh"
  attach_test:
    machine:
      enabled: true
      image: circleci/classic:latest
    steps:
      - attach_workspace:
          at: ./dist
      - run: pwd
      - run: ls
      - run: ls dist
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - attach_test:
          requires:
            - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
