version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:6.10.0
    steps:
      - checkout
      - run:
        name: System information
        command: |
          echo "Node $(node -v)"
          echo "Yarn v$(yarn --version)"
      - run:
        name: Install devDependencies
        command: yarn -D
      - run:
        name: Build
        command: ./node_modules/.bin/gulp ejs
  deploy:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - "b1:ff:f4:96:48:2c:43:59:ec:4b:da:55:e5:ab:3d:8d"
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST -p $SSH_PORT "cd ~/web/reform_test; git pull"
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
      - deploy:
          filters:
            branches:
              only: master