<%-
  include('../components/_header', {
    page: meta['craftsman']
  })
%>

<section class="section">
  <div class="container">
    <h1 class="title">職人紹介</h1>
    <div class="columns is-multiline">

      <div class="column">
        <h2 class="subtitle">屋根</h2>
        <div class="columns">
          <div class="column">
            <img src="images/craftsman-3.jpg" alt="有限会社カイセルーフ" width="150" />
          </div>
          <div class="column">
            <h3>有限会社カイセルーフ</h3>
            <p>
              屋根工事、修理、リフォームのことなら私にぜひお任せ下さい!１００％自社での工事。確実で安心。しかも低価格。丁寧な熟練職人の工事が好評をいただいております。
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <h2 class="subtitle">板金</h2>
        <div class="columns">
          <div class="column">
            <img src="images/craftsman-2.jpg" alt="株式会社 武蔵" width="150" />
          </div>
          <div class="column">
            <h3>株式会社武蔵</h3>
            <p>
              建築板金工事、屋根工事、壁、雨戸樋のことならなんでも（株）武蔵におまかせください。当社は、この地域で経営を続け、今日まで実績を積んで参りました。まごころの接客対応と丁寧な仕事が、お客様から厚い信頼をいただいています。腕の立つ職人な常勤しておりますので対応もスムーズ、着実、丁寧、スピーディーに施工致します。
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <h2 class="subtitle">基礎・解体</h2>
        <div class="columns">
          <div class="column">
            <img src="images/craftsman-1.jpg" alt="鳶 為貝組" width="150" />
          </div>
          <div class="column">
            <h3>鳶 為貝組</h3>
            <p>
              自信と信頼をもって、人の心を和ませる工事を心がけております。つねに新しい品質にこだわり続け、地元はもとより、遠くまで、仕事させて頂いております。
            </p>
          </div>
        </div>
      </div>

    </div><!-- columns -->
  </div><!-- container -->
</section>
<% include ../components/_footer %>