<%-
  include('../components/_header', {
    page: meta['flow']
  })
%>

<!--- Image Slider -->
<div class="carousel-inner">
	<img src="./images/flow2-min.png">
	<div class="carousel-caption">
		<h1>flow</h1>
	</div>
</div>

<!--- Jumbotron -->
<div class="lead">
	<div class="content">
		<h2>“リフォームのことなら上里建設へ”</h2>
	</div>
</div>


<!--- service title-->
<div class="page">
	<div class="container-fluid padding">
		<div class="row padding text-left">
			<div class="col-12">
				<h3 class="display-4">リフォームの流れ</h3>
			</div>
		</div>
	</div>

	<!--- rineup-->
	<div class="container-flow">
		<div class="row">
			<div class="col-12 col-xs-12">
				<img src="./images/flow-1-min.png" alt="flow" width="207" height="234">
				<div class="square-1">
					<p></p>
				</div>
				<h4 class="title">①お申し込み</h4>
				<h5 class="form">
					<p>まずはお気軽にご連絡ください。 </p>
					<p>当社リフォーム専任スタッフが親切丁寧に対応させていただきます。</p>
					<p>現在お住まいのお悩みを聞かせてください。</p>
					<p>*ご相談・お見積り・現地調査・プラン提出は無料です。</p>
					<p>お電話の他faxやE-mailでもお問い合わせ可能です。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-2-min.png" alt="flow" width="207" height="234">
				<div class="square-2">
					<p></p>
				</div>
				<h4 class="title">②現地調査</h4>
				<h5 class="form">
					<p>実際にお宅に伺いし、建物をチェック。</<p>
						<p>また、ご予算、デザインのご要望などもお聞きします。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-3-min.png" alt="flow" width="207" height="234">
				<div class="square-3">
					<p></p>
				</div>
				<h4 class="title">③見積もり提出</h4>
				<h5 class="form">
					<p>現場調査をもとにプランと見積書を作成し</p>
					<p>細部にわたってわかりやすくご説明いたします。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-4-min.png" alt="flow" width="207" height="234">
				<div class="square-4">
					<p></p>
				</div>
				<h4 class="title">④お打ち合わせ</h4>
				<h5 class="form">
					<p>お客様と一緒になって夢の実現に向かって,</p>
					<p>ご納得できる内容になるまで、お打ち合わせをいたします。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-5-min.png" alt="flow" width="207" height="234">
				<div class="square-5">
					<p></p>
				</div>
				<h4 class="title">⑤最終プラン＆お見積もり</h4>
				<h5 class="form">
					<p>お客様の納得していただいた最終プランと</p>
					<p>見積もりを提出をさせていただきます</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-6-min.png" alt="flow" width="207" height="234">
				<div class="square-6">
					<p></p>
				</div>
				<h4 class="title">⑥ご契約</h4>
				<h5 class="form">
					<p>ご予算、工期などお客様のご要望をクリアし、ご納得頂けましたらご契約です。</p>
					<p>*提携リフォームローンも取り扱っています 500万円まで原則無担保です。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-7-min.png" alt="flow" width="207" height="234">
				<div class="square-7">
					<p></p>
				</div>
				<h4 class="title">⑦安心施工</h4>
				<h5 class="form">
					<p>当社専任スタッフが工事の始まりから終わりまで責任を持って対応させていただきます。</p>
					<p>現場での職人へのお気づかいは一切不要です。また工期厳守で施工いたします。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-8-min.png" alt="flow" width="207" height="234">
				<div class="square-8">
					<p></p>
				</div>
				<h4 class="title">⑧完工引渡</h4>
				<h5 class="form">
					<p>工事が終了したら最終チェックを行い、お客様に引き渡します。</p>
					<p>また工事保証書もお付けします。＊工事終了後に満足度アンケートに ご協力ください。</p>
				</h5>
			</div>
			<div class="col-12 col-xs-12">
				<img src="./images/flow-9-min.png" alt="flow" width="207" height="234">
				<div class="square-9">
					<p></p>
				</div>
				<h4 class="title">⑨保証書発行</h4>
				<h5 class="form">
					<p>安心の保証書を発行させていただきます。</p>
				</h5>
			</div>
		</div>
	</div>

</div>


<!--- Contact -->
<div class="contact">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<p>お電話またはフォームより、お気軽にお問い合わせください</p>
				<hr class="horizon">
			</div>
			<div class="col-md-6">
				<p>0120-281-258</p>
				<p>年中無休 営業時間9:00〜18:00</p>
			</div>
			<div class="col-md-6">
				<a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
			</div>
		</div>
	</div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>

</body>

</html>