<%-
  include('../components/_header', {
    page: meta['flow']
  })
%>

<section class="section">
	<div class="container">
		<ol>
			<li>お申込み</li>
			<p>
				まずはお気軽にご連絡ください。
				当社リフォーム専任スタッフが親切丁寧に対応させていただきます。
				現在お住まいのお悩みを聞かせてください。
				*ご相談・お見積り・現地調査・プラン提出は無料です。
				お電話の他faxやE-mailでもお問い合わせ可能です。
			</p>

			<li>現地調査</li>
			<p>
				実際にお宅に伺いし、建物をチェック。
				また、ご予算、デザインのご要望などもお聞きします。
			</p>

			<li>お見積り提出</li>
			<p>
				現場調査をもとにプランと見積書を作成し
				細部にわたってわかりやすくご説明いたします。
			</p>

			<li>打ち合わせ</li>
			<p>
				お客様と一緒になって夢の実現に向かって,
				ご納得できる内容になるまで、お打ち合わせをいたします。
			</p>

			<li>最終プラン・お見積り</li>
			<p>
				お客様の納得していただいた最終プランと
				見積もりを提出をさせていただきます
			</p>

			<li>ご契約</li>
			<p>
				ご予算、工期などお客様のご要望をクリアし、ご納得頂けましたらご契約です。
				*提携リフォームローンも取り扱っています 500万円まで原則無担保です。
			</p>

			<li>安心施工</li>
			<p>
				当社専任スタッフが工事の始まりから終わりまで責任を持って対応させていただきます。
				現場での職人へのお気づかいは一切不要です。また工期厳守で施工いたします。
			</p>

			<li>完工引き渡し</li>
			<p>
				工事が終了したら最終チェックを行い、お客様に引き渡します。
				また工事保証書もお付けします。＊工事終了後に満足度アンケートに ご協力ください。
			</p>

			<li>保証書発行</li>
			<p>
				安心の保証書を発行させていただきます。
				お電話またはフォームより、お気軽にお問い合わせください
			</p>
		</ol>
	</div>
</section>

<% include ../components/_footer %>