<% include ../components/_header %>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/fv_01-min.jpg">
      <div class="carousel-caption">
        <h3 class="display-2">リフォームで、家族が笑顔になる</h3>
        <h1>Kamiken Reform</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./images/fv_02-min.jpg">
      <div class="carousel-caption">
        <h3 class="display-2">リフォームで、家族が笑顔になる</h3>
        <h1>KamikenReform</h1>
      </div>
    </div>
  </div>
</div>

<!--- Jumbotron -->

<div class="lead">
  <div class="content">
    <h2>“リフォームのことなら上里建設へ”</h2>
  </div>
</div>


<!--- service title-->
<div class="page">

  <div class="container-fluid padding">
    <div class="row padding text-left">
      <div class="col-12">
        <h id="service"></h>
        <h3 class="display-4">サービス</h3>
      </div>
    </div>
  </div>

  <!--- service-->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="kitchen.html">
            <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
          </a>
          <a href="kitchen.html">
            <div class="carousel-caption">
              <h5>Kitchen</h5>
              <h6>キッチン</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="toilet.html"><img src="./images/toilet_01-min.jpg" width="250" height="195"></a>
          <a href="toilet.html">
            <div class="carousel-caption">
              <h5>Toilet</h5>
              <h6>トイレ</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="bath.html">
            <img src="./images/bath_01-min.jpg" width="250" height="195"></a>
          <a href="bath.html">
            <div class="carousel-caption">
              <h5>Bath</h5>
              <h6>お風呂</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="washbasin.html">
            <img src="./images/washbasin_01-min.jpg" width="250" height="195"></a>
          <a href="washbasin.html">
            <div class="carousel-caption">
              <h5>Wash basin</h5>
              <h6>洗面台</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="all-electric.html">
            <img src="./images/all_electric_02-min.jpg" width="250" height="195"></a>
          <a href="all-electric.html">
            <div class="carousel-caption">
              <h5>All electric</h5>
              <h6>オール電化</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="flow.html">
            <img src="./images/number-min.jpg" width="250" height="195"></a>
          <a href="flow.html">
            <div class="carousel-caption">
              <h5>Flow</h5>
              <h6>リフォームの流れ</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--- staff title-->
  <h id="staff"></h>
  <div class="container-fluid padding">
    <div class="row padding text-left">
      <div class="col-12">
        <h3 class="display-4">スタッフ</h3>
      </div>
    </div>
  </div>

  <!--- staff-->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="staff.html">
            <img src="./images/staff-min.jpg" width="250" height="195"></a>
          <a href="staff.html">
            <div class="carousel-caption">
              <h5>STAFF</h5>
              <h6>スタッフ</h6>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-kitchen">
          <a href="craftsman.html">
            <img src="./images/craftsman_02-min.jpg" width="250" height="195"></a>
          <a href="craftsman.html">
            <div class="carousel-caption">
              <h5>Craftsman</h5>
              <h6>職人</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--- voice title-->
  <h id="voice"></h>
  <div class="container-fluid padding">
    <div class="row padding text-left">
      <div class="col-12">
        <h3 class="display-4">お客様の声</h3>
      </div>
    </div>
  </div>

  <!--- voice-->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-6 col-lg-4">
        <div class="carousel-voice">
          <a href="q&a.html">
            <img src="./images/Q&A-min.jpg" width="250" height="195"></a>
          <a href="q&a.html">
            <div class="carousel-caption">
              <h4>Q&A</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="carousel-voice">
          <a href="voice.html">
            <img src="./images/voice-min.jpg" width="250" height="195"></a>
          <a href="voice.html">
            <div class="carousel-caption">
              <h4>お客様の声</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>


<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>