<% include ../components/_header %>

<section class="section is-paddingless">
  <div class="container is-fluid is-paddingless">
    <h1 class="is-hidden-mobile slide-caption title is-3">リフォームで、家族が笑顔になる</h1>
    <h1 class="is-hidden-tablet slide-caption title is-5">リフォームで、家族が笑顔になる</h1>
    <div class="swiper-container-slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/top-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="images/top-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="images/top-3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service -->
<section class="section">
  <div class="container">
    <h1 class="title">サービス</h1>
    <div class="columns is-multiline">

      <div class="column is-4">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-4">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-4">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-4">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-4">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Staff -->
<section class="section">
  <div class="container">
    <h1 class="title">スタッフ</h1>
    <div class="columns is-multiline">

      <div class="column is-6">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-6">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>

    </div>
  </div>
</section>

<!-- お客様の声 -->
<section class="section">
  <div class="container">
    <h1 class="title">お客様の声</h1>
    <div class="columns is-multiline">

      <div class="column is-6">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>
      <div class="column is-6">
        <a href="kitchen.html">
          <img src="./images/kitchen_06-min.jpg" width="250" height="195" alt="kitchen">
        </a>
      </div>

    </div>
  </div>
</section>

<!--- Footer -->
<% include ../components/_footer %>