<% include ../components/_header %>

<section class="section is-paddingless">
  <div class="container is-fluid is-paddingless">
    <h1 class="is-hidden-mobile slide-caption title is-3">リフォームで、家族が笑顔になる</h1>
    <h1 class="is-hidden-tablet slide-caption title is-5">リフォームで、家族が笑顔になる</h1>
    <div class="swiper-container-slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/top-1.jpg" alt="家の内観">
        </div>
        <div class="swiper-slide">
          <img src="images/top-2.jpg" alt="家の内観">
        </div>
        <div class="swiper-slide">
          <img src="images/top-3.jpg" alt="家の内観">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        最新最速であり続ける。
      </h1>
      <p>当社は常に何事においても最新最速であり続ける。</p>
      <p>常に先進性に富み、「未来」を切り開く事に全力で挑み続ける。</p>
      <p>お客様の利益と繁栄を常に考える。</p>
      <p>お客様の利益と繁栄が当社の利益と繁栄となる事を知っている。</p>
      <p>お世話になった事はいつまでも忘れない。</p>
      <p>上里建設は、多様な働き方実践企業として取り組んでいます。</p>
      <p>埼玉版ウーマノミクスの趣旨に賛同し、多様な働き方を推進します。</p>
    </div>
  </div>
</section>
-->

<!-- Service -->
<section class="section">
  <span class="anchor" id="service"></span>
  <div class="container">
    <h1 class="title">サービス</h1>
    <div class="columns is-multiline">

      <div class="column is-4">
        <a href="kitchen.html" id="link-kitchen" class="image-link">
          <p>キッチン</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="bath.html" id="link-bath" class="image-link">
          <p>お風呂</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="toilet.html" id="link-toilet" class="image-link">
          <p>トイレ</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="washbasin.html" id="link-washbasin" class="image-link">
          <p>洗面台</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="all-electric.html" id="link-all-electric" class="image-link">
          <p>オール電化</p>
        </a>
      </div>
      <div class="column is-4">
        <a href="flow.html" id="link-flow" class="image-link">
          <p>リフォームの流れ</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Staff -->
<section class="section">
  <span class="anchor" id="staff"></span>
  <div class="container">
    <h1 class="title">スタッフ</h1>
    <div class="columns is-multiline">

      <div class="column is-6">
        <a href="staff.html" id="link-staff" class="image-link">
          <p>スタッフ</p>
        </a>
      </div>

      <div class="column is-6">
        <a href="craftsman.html" id="link-craftsman" class="image-link">
          <p>職人</p>
        </a>
      </div>

    </div>
  </div>
</section>

<!-- お客様の声 -->
<section class="section">
  <span class="anchor" id="voice"></span>
  <div class="container">
    <h1 class="title">お客様の声</h1>
    <div class="columns is-multiline">

      <div class="column is-6">
        <a href="q&a.html" id="link-qa" class="image-link">
          <p>Q&A</p>
        </a>
      </div>
      <div class="column is-6">
        <a href="voice.html" id="link-voice" class="image-link">
          <p>お客様の声</p>
        </a>
      </div>

    </div>
  </div>
</section>

<!--- Footer -->
<% include ../components/_footer %>