<% include ../components/_header %>

<!--- Image Slider -->
<div class="carousel-inner">
	<img src="./images/staff-min.jpg">
	<div class="carousel-caption">
		<h1>STAFF</h1>
	</div>
</div>

<!--- Jumbotron -->
<div class="lead">
	<div class="content">
		<h2>“リフォームのことなら上里建設へ”</h2>
	</div>
</div>


<!--- service title-->
<div class="page">
	<div class="container-fluid padding">
		<div class="row padding text-left">
			<div class="col-12">
				<h3 class="display-4">スタッフの紹介</h3>
			</div>
		</div>
	</div>

	<!--- rineup-->
	<div class="container-staff">
		<div class="row text-left">
			<div class="col-12 text-center">
				<img src="./images/staff-min.png" alt="staff" width="732" height="414">
			</div>
			<div class="col-12">
				<p>リフォームに関してのことならどんな小さな事でもご相談を承りますので、
					お気軽にご来場ください。<br>
					お見積り、ご相談は無料です。スタッフ一同ご来店を、心よりお待ち申し上げます</p>
			</div>
		</div>
	</div>
</div>



<!--- Contact -->
<div class="contact">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<p>お電話またはフォームより、お気軽にお問い合わせください</p>
				<hr class="horizon">
			</div>
			<div class="col-md-6">
				<p>0120-281-258</p>
				<p>年中無休 営業時間9:00〜18:00</p>
			</div>
			<div class="col-md-6">
				<a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
			</div>
		</div>
	</div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>

</body>

</html>