<%-
  include('../components/_header', {
    page: meta['staff']
  })
%>

<section class="section">
	<div class="container">
		<h1 class="is-1">スタッフの紹介</h1>
		<figure class="image">
			<img src="images/staff/staff.jpg" alt="スタッフ集合写真">
		</figure>
		<p>
			リフォームに関してのことならどんな小さな事でもご相談を承りますので、お気軽にご来場ください。
			お見積り、ご相談は無料です。スタッフ一同ご来店を、心よりお待ち申し上げます。
			お電話またはフォームより、お気軽にお問い合わせください
		</p>
	</div>
</section>
<!--- Footer -->
<% include ../components/_footer %>