<%-
  include('../components/_header', {
    page: meta['toilet']
  })
%>


<!--- Image Slider -->
<div class="carousel-inner">
    <img src="./images/toilet-top-min.png">
    <div class="carousel-caption">
        <h1>toilet Reform</h1>
    </div>
</div>

<!--- Jumbotron -->
<div class="lead">
    <div class="content">
        <h2>“リフォームのことなら上里建設へ”</h2>
    </div>
</div>


<!--- service title-->
<div class="page">

    <div class="container-fluid padding">
        <div class="row padding text-left">
            <div class="col-12">
                <h3 class="display-4">商品ラインナップ</h3>
            </div>
        </div>
    </div>

    <!--- rineup-->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-6 col-lg-4">
                <img src="./images/toilet-a-min.png" width="222" height="210">
                <div class="square-p">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">カミケン<br>オリジナルトイレ</h5>
                    <p>・ウォシュレット<br>
                        ・リモコン<br>
                        ・お買得タイプ</p>
                    <p><span style="color:#F5054F; font-size: 130%;">¥222,250円(税込)</span></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./images/toilet-b-min.png" width="222" height="210">
                <div class="square-g">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">LIXIL<br>アメージュ ZA</h5>
                    <p>・節水トイレ<br>
                        ・手洗いなし<br>
                        ・シャワートイレ<br>
                        ・フチレス形状<br>
                        ・床排水</p>
                    <p>希望小売価格 ¥209,700（税抜)<br>
                        <span style="color:#F5054F; font-size: 130%;">→40%OFF ¥125,820円(税抜)</span></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./images/toilet-c-min.png" width="222" height="210">
                <div class="square-b">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">Panasonic<br>
                        アラウーノ<br>
                        専用トワレS5</h5>
                    <p>・手洗いなし<br>
                        ・暖房便座<br>
                        ・おまかせ節電
                    </p>
                    <p>希望小売価格 ¥164,000（税抜）<br>
                        <span style="color:#F5054F; font-size: 130%;">→35%OFF ¥106,600円(税抜)</span></p>
                </div>
            </div>
        </div>
    </div>





    <div class="attention">
        <p>標準工事費 ￥25,000～ （処分費込みの価格です。
            「和式→洋式」はお電話にてお問い合わせください。）<br>
            ※写真はイメージです。</p>
    </div>

</div>



<!--- Contact -->
<div class="contact">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <p>お電話またはフォームより、お気軽にお問い合わせください</p>
                <hr class="horizon">
            </div>
            <div class="col-md-6">
                <p>0120-281-258</p>
                <p>年中無休 営業時間9:00〜18:00</p>
            </div>
            <div class="col-md-6">
                <a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
            </div>
        </div>
    </div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>

</body>

</html>