<%-
  include('../components/_header', {
    page: meta['voice']
  })
%>

<section class="section">
	<div class="container">
		<h1 class="title">お客様の声</h1>
		<div class="columns is-multiline">
			<div class="column is-12">
				実際に施工させていただいたお客様にアンケートにお答えいただきました。お客様の声を今後のサービスの発展に役立て、更にお客様にご満足いただけるようなサービスを提供できるよう務めてまいります。</p>
			</div>
			<div class="column is-6">
				<img src="images/voice-1.png" />
			</div>
			<div class="column is-6">
				<img src="images/voice-2.png" />
			</div>
		</div>
	</div>
</section>


<% include ../components/_footer %>