<% include ../components/_header %>

<!--- Image Slider -->
<div class="carousel-inner">
	<img src="./images/voice-top-min.png">
	<div class="carousel-caption">
		<h1>voice</h1>
	</div>
</div>

<!--- Jumbotron -->
<div class="lead">
	<div class="content">
		<h2>“リフォームのことなら上里建設へ”</h2>
	</div>
</div>


<!--- service title-->
<div class="page">
	<div class="container-fluid padding">
		<div class="row padding text-left">
			<div class="col-12">
				<h3 class="display-4">お客様の声</h3>
			</div>
		</div>
	</div>

	<!--- rineup-->
	<div class="container-voice">
		<div class="row text-left">
			<div class="col-12">
				<p>実際に施工させていただいたお客様にアンケートにお答えていただきました。<br>
					お客様の声を今後のサービスの発展に役立て、更にお客様にご満足いただけるようなサービスを提供できるよう努めてまいります。
				</p>
			</div>
			<div class="col-12 text-center">
				<img src="./images/voice-a-min.png" alt="voice-a" width="575" height="906">
			</div>
			<div class="col-12 text-center">
				<img src="./images/voice-b-min.png" alt="voice-a" width="575" height="906">
			</div>
		</div>
	</div>
</div>



<!--- Contact -->
<div class="contact">
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<p>お電話またはフォームより、お気軽にお問い合わせください</p>
				<hr class="horizon">
			</div>
			<div class="col-md-6">
				<p>0120-281-258</p>
				<p>年中無休 営業時間9:00〜18:00</p>
			</div>
			<div class="col-md-6">
				<a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
			</div>
		</div>
	</div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>

</body>

</html>