<% include ../components/_header %>

<!--- Image Slider -->
<div class="carousel-inner">
    <img src="./images/washbasin-top-min.png">
    <div class="carousel-caption">
        <h1>Washbasin Reform</h1>
    </div>
</div>

<!--- Jumbotron -->
<div class="lead">
    <div class="content">
        <h2>“リフォームのことなら上里建設へ”</h2>
    </div>
</div>


<!--- service title-->
<div class="page">

    <div class="container-fluid padding">
        <div class="row padding text-left">
            <div class="col-12">
                <h3 class="display-4">商品ラインナップ</h3>
            </div>
        </div>
    </div>

    <!--- rineup-->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-6 col-lg-4">
                <img src="./images/washbasin-a-min.png" width="243" height="274">
                <div class="square-p">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">クリナップ<br>
                        BTGシリーズ</h5>
                    <h5 class="thema">“洗練されたデザインと機能性”</h5>
                    <p>洗練されたデザインと機能性が洗面室を彩ります。<br>
                        毎日の暮らしをしっかりと支える機能が充実しています。</p>
                    <p>希望小売価格 ¥106,900（税抜）<br>
                        <span style="color:#F5054F; font-size: 130%;">→60%OFF ¥42,760円(税抜)</span></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./images/washbasin-b-min.png" width="243" height="274">
                <div class="square-g">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">LIXIL<br>
                        オフト 間口750</h5>
                    <h5 class="thema">“どこにでもフィットして快適”</h5>
                    <p>みんなにフィットする快適機能に、本格的な<br>
                        エコ機能をプラス。<br>
                        どこにでもフィットするリフォームへの配慮も<br>
                        さらに充実しました。</p>
                    <p>希望小売価格 ¥121,000（税抜）<br>
                        <span style="color:#F5054F; font-size: 130%;">→65%OFF ¥42,350円(税抜)</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./images/washbasin-c-min.png" width="243" height="274">
                <div class="square-b">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">Panasonic<br>
                        エムライン 間口750</h5>
                    <h5 class="thema">“コンパクト設計のキャビネット”</h5>
                    <p>軽くて割れにくい洗面ボールと、コンパクト設計の<br>
                        本体キャビネット。<br>
                        水はねしにくいシングルレバー水栓を搭載。</p>
                    <p>希望小売価格 ¥129,000（税抜）<br>
                        <span style="color:#F5054F; font-size: 130%;">→65%OFF ¥45,150円(税抜)</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="attention">
        <p>標準工事費 ￥25,000～ (処分費込みの価格です。）<br>
            ※写真はイメージです。</p>
    </div>
</div>



<!--- Contact -->
<div class="contact">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <p>お電話またはフォームより、お気軽にお問い合わせください</p>
                <hr class="horizon">
            </div>
            <div class="col-md-6">
                <p>0120-281-258</p>
                <p>年中無休 営業時間9:00〜18:00</p>
            </div>
            <div class="col-md-6">
                <a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
            </div>
        </div>
    </div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<% include ../components/_footer %>

</body>

</html>