<footer>
  <div class="container-fluid padding">
    <div class="row padding text-center">
      <div class="col-12">
        <a href="index.html" class="company-logo">
          <img src="./images/company-logo-min.png" alt="Kamiken Reform"></a>
      </div>
      <div class="col-md-6 col-lg-3">
        <hr class="light">
        <p>（株）上里建設<br>リフォーム専門店</p>
        <hr class="light">
        <p>埼玉県本庄市見福<br>3-14-14</p>
        <p>tel : 0495-25-5454</p>
        <p>fax : 0495-25-5455</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <hr class="light">
        <p>（株）上里建設<br>高崎モデルハウス</p>
        <hr class="light">
        <p>群馬県高崎市栄町<br>22-34</p>
        <p>tel : 027-388-1105</p>
        <p>fax : 027-388-1115</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <hr class="light">
        <p>（株）上里建設<br>東京支店</p>
        <hr class="light">
        <p>東京都千代田区丸の内3-4-1<br>新国際ビル833区</p>
        <p>tel : 03-6268-0504</p>
        <p>fax : 03-6268-0503</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <hr class="light">
        <p>上尾エリア正規代理店<br>ハーバルホーム株式会社</p>
        <hr class="light">
        <p>埼玉県上尾市上62-13<br>深山ビル101</p>
        <p>tel : 048-770-1188</p>
        <p>fax : 048-770-1186</p>
      </div>
      <div class="col-md-6 col-lg-3">
        <hr class="light">
        <p>上尾エリア正規代理店<br>ハーバルホーム株式会社</p>
        <hr class="light">
        <p>埼玉県上尾市上62-13<br>深山ビル101</p>
        <p>tel : 048-770-1188</p>
        <p>fax : 048-770-1186</p>
      </div>
      <div class="col-12">
        <h5>&copy;2019 KAMISATO KENSETSU, Inc.</h5>
      </div>
    </div>
  </div>
</footer>