<footer class="has-background-light">
  <!--- Contact -->
  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column">
          <div class="contact">
            <a href="/reform_site"><img src="images/logo.png" width="200" height="50" alt="Kamiken Reform"></a>
            <p>〒367-0044 埼玉県本庄市見福3丁目14番地14号</p>
            <p>電話：0495-25-5454 / FAX：0495-25-5455</p>
            <p>フリーダイヤル: 0120-281-258</p>
            <p>営業時間: 9:00〜18:00</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section has-background-grey-dark">
    <div class="container">
      <p class="has-text-centered has-text-light">©2019 KAMISATO KENSETSU, Inc.</p>
    </div>
  </section>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<script src="js/footer.js"></script>
</body>

</html>