<footer class="has-background-light">
  <!--- Contact -->
  <section class="section">
    <div class="container">
      <div class="contact">
        <a href="/reform_site"><img src="images/logo.png" width="200" height="50" alt="Kamiken Reform"></a>
        <p>TEL: 0120-281-258</p>
        <p>年中無休 営業時間9:00〜18:00</p>
        <a class="button is-primary" href="//kamiken.info/inquiry">お問い合わせ</a>
      </div>
    </div>
  </section>

  <!-- col -->
  <section class="section">
    <div class="container">
      <p class="has-text-centered">©2019 Kamiken Reform</p>
    </div>
  </section>
</footer>

</body>

</html>