<footer class="has-background-light">
  <!--- Contact -->
  <section class="section">
    <div class="container">
      <div class="contact">
        <p class="has-text-centered">お電話またはフォームより、お気軽にお問い合わせください</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <p>0120-281-258</p>
          <p>年中無休 営業時間9:00〜18:00</p>
        </div>
        <div class="column is-6">
          <a class="button is-primary" href="//kamiken.info/inquiry">お問い合わせ</a>
        </div>
      </div>
    </div>
  </section>

  <!-- col -->
  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column is-3 has-text-centered">
          <p>株式会社上里建設 本社</p>
          <p>埼玉県本庄市見福3-14-14</p>
          <p>tel : 0495-25-5454</p>
          <p>fax : 0495-25-5455</p>
        </div>
      </div>

    </div>
  </section>
</footer>

<hr>
<hr>
<hr>

<footer>
  <div class="container-fluid padding">
    <div class="row padding text-center">
      <div class="col-12">
        <a href="/reform_test" class="company-logo">
          <img src="./images/company-logo-min.png" alt="Kamiken Reform"></a>
      </div>
    </div>
</footer>
</body>

</html>