<% include components/_header %>


<!--- Image Slider -->
<div class="carousel-inner">
    <img src="./img/craftsman-top.png">
    <div class="carousel-caption">
        <h1>Craftsman Reform</h1>
    </div>
</div>

<!--- Jumbotron -->
<div class="lead">
    <div class="content">
        <h2>“リフォームのことなら上里建設へ”</h2>
    </div>
</div>


<!--- service title-->
<div class="page">

    <div class="container-fluid padding">
        <div class="row padding text-left">
            <div class="col-12">
                <h3 class="display-4">職人紹介</h3>
            </div>
        </div>
    </div>

    <!--- rineup-->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-md-6 col-lg-4">
                <img src="./img/craftsman-c.png" width="200" height="158">
                <div class="square-p">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">屋根<br>
                        (有)カイセイルーフ</h5>
                    <h5 class="thema">“丁寧な熟練職人の工事”</h5>
                    <p>屋根工事、修理、リフォームのことなら<br>
                        私にぜひお任せ下さい!</p>
                    <p>１００％自社での工事。確実で安心。<br>
                        しかも低価格。</p>
                    <p>丁寧な熟練職人の工事が好評を<br>
                        いただいております。</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./img/craftsman-b.png" width="200" height="218">
                <div class="square-g">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">板金<br>
                        株式会社 武蔵</h5>
                    <h5 class="thema">“まごころの接客と丁寧な仕事”</h5>
                    <p>建築板金工事、屋根工事、壁、<br>
                        雨戸樋のことならなんでも<br>
                        （株）武蔵におまかせください。</p>
                    <p>当社は、この地域で経営を続け、<br>
                        今日まで実績を積んで参りました。</p>
                    <p>まごころの接客対応と丁寧な仕事が、<br>
                        お客様から厚い信頼をいただいています。</p>
                    <p>腕の立つ職人な常勤しておりますので<br>
                        対応もスムーズ、着実、丁寧、<br>
                        スピーディーに施工致します。</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <img src="./img/craftsman-a.png" width="200" height="218">
                <div class="square-b">
                    <p></p>
                </div>
                <div class="passage">
                    <h5 class="title">基礎・解体<br>
                        鳶 為貝組</h5>
                    <h5 class="thema">“人の心を和ませる工事”</h5>
                    <p>自信と信頼をもって、人の心を<br>
                        和ませる工事を心がけております。</p>
                    <p>つねに新しい品質にこだわり続け<br>
                        地元はもとより、遠くまで、仕事を<br>
                        させて頂いております。</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!--- Contact -->
<div class="contact">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <p>お電話またはフォームより、お気軽にお問い合わせください</p>
                <hr class="horizon">
            </div>
            <div class="col-md-6">
                <p>0120-281-258</p>
                <p>年中無休 営業時間9:00〜18:00</p>
            </div>
            <div class="col-md-6">
                <a href="mailto:kamiken@sky.plala.or.jp?subject=&amp;body="> <br>MAIL FORM</a>
            </div>
        </div>
    </div>
</div>

<!--- Two Column Section -->

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row padding text-center">
            <div class="col-12">
                <a href="index.html" class="company-logo">
                    <img src="./img/company-logo.png" alt="Kamiken Reform"></a>
            </div>
            <div class="col-md-6 col-lg-3">
                <hr class="light">
                <p>（株）上里建設<br>リフォーム専門店</p>
                <hr class="light">
                <p>埼玉県本庄市見福<br>3-14-14</p>
                <p>tel : 0495-25-5454</p>
                <p>fax : 0495-25-5455</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <hr class="light">
                <p>（株）上里建設<br>高崎モデルハウス</p>
                <hr class="light">
                <p>群馬県高崎市栄町<br>22-34</p>
                <p>tel : 027-388-1105</p>
                <p>fax : 027-388-1115</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <hr class="light">
                <p>（株）上里建設<br>東京支店</p>
                <hr class="light">
                <p>東京都千代田区丸の内3-4-1<br>新国際ビル833区</p>
                <p>tel : 03-6268-0504</p>
                <p>fax : 03-6268-0503</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <hr class="light">
                <p>上尾エリア正規代理店<br>ハーバルホーム株式会社</p>
                <hr class="light">
                <p>埼玉県上尾市上62-13<br>深山ビル101</p>
                <p>tel : 048-770-1188</p>
                <p>fax : 048-770-1186</p>
            </div>
            <div class="col-12">
                <h5>&copy;2019 KAMISATO KENSETSU, Inc.</h5>
            </div>
        </div>
    </div>
</footer>

</body>

</html>









<!-- View in Browser: Drew's #1 Trending YouTube Tutorial -->

<!-- End View in Browser: Drew's #1 Trending YouTube Tutorial -->